/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define NAV  1
#define NUM  2
#define SYM  2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {

			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                     &kp Y         &kp U    &kp I     &kp O   &kp P    &kp GRAVE
	&kp LCTRL &kp A &kp S &kp D &kp F &kp G                                                     &kp H         &kp J    &kp K     &kp L   &kp SEMI &kp RCTRL
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT      &kp N         &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                &kp C_PP &kp LALT &kp LGUI &lt NAV BSPC &kp ESC    &kp RET   &lt SYM ENTER  &lt NUM SPACE &kp RALT &kp C_PP
			>;

			sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp PG_UP PG_DN>;
		};

		nav_layer {
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                     &kp Y         &kp U    &kp I     &kp O   &kp P    &kp GRAVE
	&kp LCTRL &kp A &kp S &kp D &kp F &kp G                                                     &kp H         &kp J    &kp K     &kp L   &kp SEMI &kp RCTRL
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT      &kp N         &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                &kp C_PP &kp LALT &kp LGUI &lt NAV BSPC &kp ESC    &kp RET   &lt SYM ENTER  &lt NUM SPACE &kp RALT &kp C_PP
			>;
		};

		num_layer {
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                     &kp Y         &kp U    &kp I     &kp O   &kp P    &kp GRAVE
	&kp LCTRL &kp A &kp S &kp D &kp F &kp G                                                     &kp H         &kp J    &kp K     &kp L   &kp SEMI &kp RCTRL
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT      &kp N         &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                &kp C_PP &kp LALT &kp LGUI &lt NAV BSPC &kp ESC    &kp RET   &lt SYM ENTER  &lt NUM SPACE &kp RALT &kp C_PP
			>;
		};

		sym_layer {
			bindings = <
	&kp TAB   &kp Q &kp W &kp E &kp R &kp T                                                     &kp Y         &kp U    &kp I     &kp O   &kp P    &kp GRAVE
	&kp LCTRL &kp A &kp S &kp D &kp F &kp G                                                     &kp H         &kp J    &kp K     &kp L   &kp SEMI &kp RCTRL
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LSHFT &kp LSHFT        &kp LSHFT &kp LSHFT      &kp N         &kp M    &kp COMMA &kp DOT &kp FSLH &kp RSHFT
	                &kp C_PP &kp LALT &kp LGUI &lt NAV BSPC &kp ESC    &kp RET   &lt SYM ENTER  &lt NUM SPACE &kp RALT &kp C_PP
			>;
		};




	};
};
